<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Edit Tweet</title>
    <style>
      form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
      }
      label {
        font-weight: bold;
      }
      input[type="submit"] {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>

    <!--Sidan används ej!!!  -->

    <h1>Edit Tweet</h1>
    <a href="/tweets/<%= tweet._id %>/edit">Redigera</a>
    <!-- Användaren skickar formuläret och då kommer servern att hantera en PUT begäran till adressen. -->
    <form method="POST" action="/tweets/<%= tweet._id %>">
      <input type="hidden" name="_method" value="PUT">
    
        <div class="input-field">
            <label for="userName">Användar Namn</label>
            <input type="text" name="username" id="username" value="<%= tweet.username %>">
      
            <label for="textContent">Tweet Innehåll</label>
            <textarea id="textContent" name="textContent"><%= tweet.textContent %></textarea>
        </div>

        <div class="row">
            <div class="input-field">
                <label for="status">Status</label>
                <select id="status" name="status">
                    <option value="public" <% if (tweet.status === 'public') { %>selected<% } %>>Public</option>
                    <option value="private" <% if (tweet.status === 'private') { %>selected<% } %>>Private</option>
                </select>
            </div>
        </div>
      
        <div class="row">
            <label for="action">Action</label>
            <input type="submit" value="Save" name="action" class="btn">
            <input type="submit" value="Delete" name="action" class="btn">
        
        </div>
    </form>
   

    <footer>
      <%- include('./partials/footer.ejs'); %>
    </footer>

  </body>
</html>








