<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css" media="screen and (prefers-color-scheme: dark)" />
    <title>Tweets</title>
</head>


<body>
    <%- include("./partials/header.ejs") %>
    
    <% if (!!create_msg) { %>
        <div class="alert alert-success"><%= create_msg %></div>
    <% } %>

           <!-- 4. Visar tweet från res.render (funktionen som körs), pågår hela tiden -->

    <div id="tweets">
        <% if (data) { %>
        <% data.forEach(tweet => { %>
        <section id="<%=tweet._id %>">
            <div>Användarnamn: <p class="anvandarNamn"><%=tweet.userName %></p> </div>
            <div>Tweet: <%= tweet.createdAt %></div>
            <p data-text><p class="content"><%=tweet.textContent %></p></p>
            <div>Status: <p class="status"><%=tweet.status %></p></div>
            <button  data-id="<%= tweet._id %>">Radera</button>
            <button edit-id="<%= tweet._id %>">Edit</button>

            <hr />
        </section>
        <% }) %>
        <% } %>
    </div>

    <!-- 6. Här matas de nya datan och kör router.post action=edit tweet i routeuser.js när save change knappen trycks  -->
    <form id="editForm" method="POST" action="editTweet" hidden>
        <input type="hidden" name="id" id="editFormId">
        <label for="name">Användarnamn:</label>
        <input type="text" id="name" name="name"><br>

        <label for="tweet">Tweet:</label>
        <textarea id="tweet" name="tweet"></textarea><br>

        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="public">Public</option>
            <option value="private">Private</option>
        </select><br>

        <button type="submit">Save Changes</button>
    </form>


    <hr>


    <script>
        function handleEdit(id, oldUserName, oldTextContent, oldStatus) {
            // access each input and repopulate them
            const editFormEl = document.getElementById("editForm");
            console.log("handleEdit - Form Elements", editFormEl.elements);

            // check if editFormEl.elements is not null
            if (editFormEl.elements) {
                // name
                editFormEl.elements.name.value = oldUserName;
                
                // tweet
                editFormEl.elements.tweet.value = oldTextContent;
                // visibilty
                editFormEl.elements.status.value = oldStatus;
            }
            // Show edit form
            document.getElementById("editForm").hidden = false;
        }


        const tweets = document.getElementById("tweets");

        // 5. Den här funktionen körs när du trycker på edit knappen - den kopierar tweet datan in i edit fälten - trycker du på en annan edit knapp ändras endast tweet datan  
        tweets.addEventListener("click", (event) => {
            event.preventDefault();
            console.log(event.target);
            if (event.target.nodeName == "BUTTON" && event.target.getAttribute("edit-id")) {

                console.log("Halllå")
                const id = event.target.getAttribute("edit-id");
                const tweetElement = document.getElementById(id);
                console.log(tweetElement)
                const oldUserName = tweetElement.getElementsByClassName("anvandarNamn")[0].textContent;
                console.log(oldUserName)

                const oldTextContent = tweetElement.getElementsByClassName("content")[0].textContent;
                const oldStatus = tweetElement.getElementsByClassName("status")[0].textContent;

                document.getElementById("editFormId").value = id;
                handleEdit(id, oldUserName, oldTextContent, oldStatus);
            } else if (event.target.nodeName == "BUTTON" && event.target.getAttribute("data-id")) {
                const id = event.target.getAttribute("data-id");
                const options = {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        id: id
                    })
                };
                fetch("/user/deleteTweet", options)
                    .then(response => response.json())
                    .then((data) => {
                        console.log("data", data);
                        if (data.result == "success") {
                            document.getElementById(id).remove();
                        }
                    });
            }
        });

      
    </script>

</body>

</html>