<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweets</title>
</head>

<body>


    <div id="tweets">
        <% if (data) { %>
        <% data.forEach(tweet => { %>
        <section id="tweet-<%=tweet._id %>">
            <div>Användarnamn: <%= tweet.userName %></div>
            <div>Tweet: <%= tweet.createdAt %></div>
            <p data-text><%= tweet.textContent %></p>
            <div>Status: <%= tweet.status %></div>
            <button data-id="<%= tweet._id %>">Radera</button>
            <button edit-id="<%= tweet._id %>">Edit</button>

            <hr />
        </section>
        <% }) %>
        <% } %>
    </div>



<!-- 
    <% data.forEach(tweet => { %>
        <section id="tweet-<%=tweet._id %>">
          <div>Användarnamn: <%= tweet.userName %></div>
          <div>Tweet: <%= tweet.createdAt %></div>
          <p data-text><%= tweet.textContent %></p>
          <div>Status: <%= tweet.status %></div>
          <button data-id="<%= tweet._id %>">Radera</button>
          <button edit-id="<%= tweet._id %>">Edit</button>
          <hr />
        </section>
      
        <% console.log(tweet.status); %>
        
      <% }) %> -->





    <hr>

    

    <script>
        

        const tweets = document.getElementById("tweets");

        tweets.addEventListener("click", (event) => {

            event.preventDefault();

            console.log(event.target);

            if (event.target.nodeName == "BUTTON") {

                // console.log(event.target.getAttribute("data-id"));

                const id = event.target.getAttribute("data-id");

                const options = {

                    method: 'PUT',

                    headers: {
                        'Content-Type': 'application/json'
                    },

                    body: JSON.stringify({
                        id: id
                    })
                }

                fetch("/user/deleteTweet", options)

                    .then(response => response.json())

                    .then((data) => {

                        console.log("data", data);

                        if (data.result == "success") {

                            document.getElementById("tweet-" + id).remove();
                        }
                    });
            }
        })

        
                    const editTweet = document.getElementById("tweets");

                    editTweet.addEventListener("click", (event) => {

                                event.preventDefault();

                                console.log(event.target);

                                if (event.target.nodeName == "BUTTON") {

                                    // console.log(event.target.getAttribute§("data-id"));

                                    const id = event.target.getAttribute("edit-id");

                                    console.log(id)
                                    const options = {

                                        method: 'PUT',

                                        headers: {
                                            'Content-Type': 'application/json'
                                        },

                                        body: JSON.stringify({
                                            id: id
                                        })
                                    }
                                }
                                })

    </script>

</body>

</html>